
.wrap {
  /* padding-top: 2em; */
  left: 10%;
  position: relative;
}

linkk {
  font-size: 5vw;
  font-family: 'IM Fell Great Primer';
  position: relative;
  color: #fff;
}

linkk:before {
  content: attr(data);
  position: absolute;
  left: -.03em;
  top: .03em;
  color: #ccc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
}

.back {
  background-image: url("../img/links.jpeg");
  height: -webkit-fill-available;

}

@media (max-width: 600px) {
  .wrap {
    padding-top: 10% !important;
  }
  
  linkk {
    font-size: 7vw;
    font-family: 'IM Fell Great Primer';
    position: relative;
    color: #fff;
  }
}