#logo {
    height: 160px;
}

#nav-background {
    background-image: url("../img/fresh_snow.png");
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

#first_nav {
    background-color: #24355d;
}

.styled-button {
    /* height:40px !important; */
    background-color: #24355d !important;
    font-family: 'Raleway';
    font-weight:normal;
    font-style:normal;
    border: none;
    text-align: center;
    display: flex;
    width: 20%;
}

@media (max-width: 900px) { 

    .styled-button {
        /* height:40px !important; */
        background-color: #24355d !important;
        font-family: 'Raleway';
        font-weight:normal;
        font-style:normal;
        border: none;
        text-align: center;
        display: flex;
     /* width: auto; */
    }

}

@media (max-width: 783px) { 

    .styled-button {
        /* height:40px !important; */
        background-color: #24355d !important;
        font-family: 'Raleway';
        font-weight:normal;
        font-style:normal;
        border: none;
        text-align: center;
        display: flex;
        width: -webkit-fill-available;
    }

    .center-btn {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 60%;
        height: 2em;
    }

}