.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 60%;
    color: white;
}

.map_card {
    margin: 3em;
    margin-bottom: 0em;
    border: 2px;
    border-color: #24355d;
    border-radius: 6px;
    border-style: solid;
    display: inline-flex;
    /* background-color: #24355d; */
    /* width: 93%; */
}


.charity-background {
    padding-top: 3em;
    background-image: url("../img/topography.png");
}

.paper-background {
    padding-top: 3em;
    background-image: url("../img/paper.png");
}

.donate{
    margin: auto !important;
    display: block !important;
    color: #24355d !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: rgb(0, 0, 0) !important;
    background-color: #889BB7 !important;
}

.nav-link {
    /* width: 80%; */
}

.inline {
    display: inline-block;
}

.full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .banner {
    background-color: #24355d;
    bottom: 0px;
    opacity: 0.8;
    filter: alpha(opacity=50);
  }

  .span {
    color: white;
    filter: alpha(opacity=100);
    opacity: 1;
  }

  .banner_logo {
    display: block;
    /* background-color: #24355d; */
    opacity: 0.8;
    filter: alpha(opacity=50);
    position: relative; 
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    width: 300px;
    height: 200px;
    z-index: 2;
  }

  .navv {
      background-color: #889BB7;
  }

  .center-nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.pills {
    margin: 1em;
    display: grid;
}

@media (max-width: 600px) {
    .pills {
        margin: 1em;
        display: -webkit-inline-box !important;
        width: 10em;
    }

    .text {
        margin-top: 8em;
        margin-left: -12em;
    }

    .map_card {
        margin: 1em;
        margin-bottom: 0em;
        border: 2px;
        border-color: #24355d;
        border-radius: 6px;
        border-style: solid;
        display: inline-flex;
        /* background-color: #24355d; */
        /* width: 93%; */
    }
}

@media (max-width: 900px) { 
    /* .banner_logo {
        display: none;
        background-color: #24355d;
        opacity: 0.8;
        filter: alpha(opacity=50);
        position: absolute; 
        left: 75px;
        top: 0px;
        width: 300px;
        height: 200px;
        z-index: 2;
      } */

    .carousel-caption {
        /* position: inherit !important; */
        right: 15%;
        bottom: 20px;
        left: 15%;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
    }

    .center {
        text-align: center !important; 
        font-family: 'next_artregular';
        font-weight:normal;
        font-style:normal;
        /* font-size: 20px; */
        /* color: white; */
        display: block;
        margin-left: none !important;
        margin-right: none !important;
        width: inherit !important;
    }

 }



 